@font-face {
    font-family: "VL Sofia Pro Soft";
    src: url("../fonts/VL-SOFIAPROSOFT-BOLD.OTF") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "VL Sofia Pro Soft";
    src: url("../fonts/VL-SOFIAPROSOFT-LIGHT.OTF") format('opentype');
}
